node_modules/
.expo/
.expo-shared/
dist/
web-build/
*.log
.DS_Store
.env
.env.*
!.env.example
ios/Pods/
ios/build/
android/.gradle/
android/build/
android/app/build/
.yarn/cache
.yarn/install-state.gz
.pnp.*
